@font-face {
  font-family: "Balgruf";
  src: url(assets/fonts/Balgruf-JRye7.ttf);
  font-weight: normal;
  font-style: normal;
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 50px;
    scale: 0.5;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

:root {
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: #b0a07c;
  --color-background: #0009;
  --color-textshadow: #0009;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  list-style: none;
}

/*HERO*/

body > img {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}

header {
  padding: 2em;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "wellcome houses news"
    "wellcome houses news"
    "social maps maps";
  gap: 2em;

  color: var(--color-primary);

  nav {
    grid-area: social;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  ul {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    display: flex;

    li {
      a {
        img {
          filter: invert(1);
          transition: all 0.3s;
        }
        :hover {
          cursor: pointer;
          transform: scale(1.2);
          filter: invert(1) drop-shadow(3px 3px 3px #b0a07c);
        }
        :active {
          transform: scale(1);
        }
      }
    }
  }
}

.subtitle {
  font-family: "Balgruf";
  font-weight: 100;
  font-size: 1.5em;
  width: 100%;
  height: auto;
  text-align: center;
  text-shadow: 5px 5px 5px var(--color-textshadow);
}

#wellcome {
  padding: 1em;
  grid-area: wellcome;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 5px 5px 5px var(--color-textshadow);

  h1 {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 1em;

    span {
      font-family: "Balgruf";
      font-size: 2em;
      color: var(--color-tertiary);
    }
  }

  h2 {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 1em;
  }

  p {
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 2em;
  }

  h3 {
    margin-bottom: 1em;
  }

  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
  }
}

.button {
  cursor: pointer;
  padding: 0.5em;
  width: 10em;
  border: 3px solid var(--color-tertiary);
  border-radius: 10px;
  background-color: var(--color-background);
  font-weight: bold;
  color: var(--color-tertiary);
  box-shadow: 5px 5px 5px var(--color-background);

  transition: all 0.3s;
}

.button:hover {
  transform: scale(1.1);
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.button:active {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transform: scale(1);
}

#news {
  z-index: 1;
  border-radius: 10px;
  background-color: var(--color-background);
  box-shadow: 3px 3px 3px var(--color-textshadow);
  padding: 1em;
  grid-area: news;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  transition: all 0.3s;

  h3 {
    font-size: 2em;
  }
}

#news:hover {
  transform: scale(1.02);
}

.new_article {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;

  transition: all 0.2s;

  h4 {
    color: var(--color-secondary);
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  p {
    color: var(--color-secondary);
  }
}

.new_article:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.new_article:active {
  background-color: var(--color-primary);
  transform: scale(0.95);
}

#houses {
  border: 3px solid var(--color-tertiary);
  border-radius: 10px;
  box-shadow: 3px 3px 3px var(--color-textshadow);
  grid-area: houses;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/img/houses_background.jpg);
  background-size: cover;
  background-position-y: -13em;

  transition: all 0.3s;

  h3 {
    background-color: var(--color-background);
    font-size: 2em;
    width: 100%;
    height: 50%;
    align-content: center;
    border-radius: 10px;
  }

  p {
    padding: 1em;
    width: 100%;
    height: 50%;
    background-color: var(--color-background);
    text-shadow: 3px 3px 3px var(--color-textshadow);
    border-radius: 10px;
  }
}

#houses:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#houses:active {
  transform: scale(0.99);
}

#maps {
  border: 3px solid var(--color-tertiary);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px #0009;
  grid-area: maps;

  background-image: url(assets/img/maps_background.jpg);
  background-size: cover;
  background-position: center;

  transition: all 0.3s;

  h3 {
    width: 100%;
    height: 100%;
    font-size: 3em;
    align-content: center;
    background-color: var(--color-background);
    border-radius: 10px;
  }
}

#maps:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#maps:active {
  transform: scale(0.99);
}

/*SHOP*/

main {
  width: 100%;
  height: auto;
  background-color: #3e1c01;
  background-image: url(assets/img/dark-wood.png);

  h2 {
    padding: 1em;
    font-size: 4em;
    font-family: "Balgruf";
    text-align: center;
    color: var(--color-primary);
    background: rgb(0, 0, 0, 0.75);
  }
}

#filter {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 10em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1em;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.filter_button {
  cursor: pointer;
  padding: 0.5em 1em;
  width: 10em;
  border: 3px solid var(--color-primary);
  border-radius: 10px;
  background-color: var(--color-background);
  font-weight: bold;
  font-size: 1.1em;
  color: var(--color-primary);

  cursor: pointer;
  transition: all 0.3s;
}

/*========== ALL ==========*/
.filter_all:hover {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-shadow: 5px 5px 5px var(--color-textshadow);

  transform: scale(1.1);
}

.filter_all:active {
  transform: scale(1);
}

.filter_all:focus {
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-shadow: 5px 5px 5px var(--color-textshadow);
  box-shadow: 0px 0px 10px 2px var(--color-primary);
}

/*========== WARRIOR ==========*/
.filter_warrior:hover {
  background-image: url(assets/img/buttons/button_warrior.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #ff4500;
  color: #ff4500;
  text-shadow: 5px 5px 5px var(--color-textshadow);

  transform: scale(1.1);
}

.filter_warrior:active {
  transform: scale(1);
}

.filter_warrior:focus {
  background-image: url(assets/img/buttons/button_warrior.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #ff4500;
  color: #ff4500;
  text-shadow: 5px 5px 5px var(--color-textshadow);
  box-shadow: 0px 0px 10px 2px #ffa17e;
}
/*========== THIEF ==========*/
.filter_thief:hover {
  background-image: url(assets/img/buttons/button_thief.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #7cfc00;
  color: #7cfc00;
  text-shadow: 5px 5px 5px var(--color-textshadow);

  transform: scale(1.1);
}

.filter_thief:active {
  transform: scale(1);
}

.filter_thief:focus {
  background-image: url(assets/img/buttons/button_thief.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #7cfc00;
  color: #7cfc00;
  text-shadow: 5px 5px 5px var(--color-textshadow);
  box-shadow: 0px 0px 10px 2px #c3ff86;
}

/*========== MAGE ==========*/
.filter_mage:hover {
  background-image: url(assets/img/buttons/button_mage.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #5f005f;
  color: #5f005f;
  text-shadow: 5px 5px 5px var(--color-textshadow);

  transform: scale(1.1);
}

.filter_mage:active {
  transform: scale(1);
}

.filter_mage:focus {
  background-image: url(assets/img/buttons/button_mage.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #5f005f;
  color: #5f005f;
  text-shadow: 5px 5px 5px var(--color-textshadow);
  box-shadow: 0px 0px 10px 2px #795979;
}

/*========== RATING ==========*/
.filter_rating:hover {
  background-image: url(assets/img/buttons/button_rating.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  text-shadow: 5px 5px 5px var(--color-textshadow);

  transform: scale(1.1);
}

.filter_rating:active {
  transform: scale(1);
}

.filter_rating:focus {
  background-image: url(assets/img/buttons/button_rating.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid var(--color-secondary);
  color: var(--color-secondary);
  text-shadow: 5px 5px 5px var(--color-textshadow);
  box-shadow: 0px 0px 10px 2px var(--color-primary);
}

/*========== PRICE ==========*/
.filter_price:hover {
  background-image: url(assets/img/buttons/button_septims.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #ffd700;
  color: #ffd700;
  text-shadow: 5px 5px 5px var(--color-textshadow);

  transform: scale(1.1);
}

.filter_price:active {
  transform: scale(1);
}

.filter_price:focus {
  background-image: url(assets/img/buttons/button_septims.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #ffd700;
  color: #ffd700;
  text-shadow: 5px 5px 5px var(--color-textshadow);
  box-shadow: 0px 0px 10px 2px #c9b77c;
}

/*========== SHOP CARDS ==========*/
#shop {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 2em;
}

.class-item_shop {
  display: none;
}

.item_shop {
  border-radius: 20px;
  background-color: var(--color-background);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 3px 1px var(--color-primary);

  transition: all 0.3s;

  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

.item_shop:hover {
  transform: scale(1.1);
}

.icon-item_shop {
  background-color: var(--color-primary);
  box-shadow: 0px 0px 3px 1px var(--color-primary);
  padding: 0.5em 1em;
  width: auto;
  height: 3.5em;
  position: absolute;
  align-self: end;
  margin-right: 1em;
  z-index: 1;
}

.image-item_shop {
  margin: 2em 0em;
  width: auto;
  height: 10em;
  filter: drop-shadow(0px 0px 3px var(--color-primary));
}

.name-item_shop,
.seller-item_shop,
.rating-item_shop,
.price-item_shop {
  padding: 0.5em;
}

.name-item_shop {
  width: 100%;
  height: auto;
  text-align: center;
  font-family: "Balgruf";
  font-weight: 100;
  font-size: 1.2em;
  text-shadow: 5px 5px 5px var(--color-textshadow);
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.seller-item_shop {
  width: 100%;
  height: auto;
  text-align: center;
  color: rgb(31, 31, 135);
  text-shadow: 0px 0px 1px var(--color-textshadow);
  background-color: var(--color-primary);
}

.rating-item_shop {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.star-item_shop {
  width: 1.2em;
  height: 1.2em;
  filter: drop-shadow(0px 0px 1px var(--color-background));
}

.price-item_shop {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 5px 5px 5px var(--color-textshadow);
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.button-item_shop {
  cursor: pointer;
  padding: 1em;
  width: 100%;
  height: auto;
  border: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--color-tertiary);
  font-weight: bold;

  transition: all 0.3s;
}

.button-item_shop:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  text-shadow: 0px 0px 1px var(--color-primary);
}

.button-item_shop:active {
  background-color: #9995;
}

/*Estilos que se van a cambiar si cumplen determinadas condiciones*/
.item_card_warrior {
  .icon-item_shop {
    background-color: #ff4500;
    box-shadow: 0px 0px 3px 1px #ff4500;
  }
}

.item_card_thief {
  .icon-item_shop {
    background-color: #7cfc00;
    box-shadow: 0px 0px 3px 1px #7cfc00;
  }
}

.item_card_mage {
  .icon-item_shop {
    background-color: #5f005f;
    box-shadow: 0px 0px 3px 1px #5f005f;
  }
}
